<footer class="footer color-2 text-white text-center pt-4 pb-5">
  <div class="d-flex justify-content-between">
    <div class="col-sm-6 col-lg">
      <h4 class="display-5 text-left">About Us</h4>
      <p class="text-left">We specialize in helping you plan events with just a few clicks.
         You can create events and then share to as many people as you
         want on social media.</p>
    </div>
    <div class="col-sm-6 col-lg">
      <h4 class="display-5 text-left">Contact Us</h4>
      <p class="text-left">Would you like to know more about us? Contact us on any of these social media platforms.</p>
      <div class="text-left">
        <a href="https://twitter.com/B_eautifulChaos" target="_blank"><i class="fab fa-twitter text-white"></i></a>
        <a href="https://github.com/TildaDares" target="_blank"><i class="fab fa-github text-white"></i></a>
        <a href="https://web.facebook.com/mathildaudufo?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook text-white"></i></a>
        <a href="https://www.instagram.com/iamkome._/" target="_blank"><i class="fab fa-instagram text-white"></i></a>
      </div>
    </div>
  </div>
</footer>