.color-5 {
    background-color: #e4f5ff !important
}

.color-4 {
    background-color: #96c7d5 !important
}

.color-3 {
    background-color: #2d7a9c !important
}

.color-2 {
    background-color: #094f6e !important
}

.color-1 {
    background-color: #022534 !important
}

.text-color-5 {
    color: #e4f5ff !important
}

.text-color-4 {
    color: #96c7d5 !important
}

.text-color-3 {
    color: #2d7a9c !important
}

.text-color-2 {
    color: #094f6e !important
}

.text-color-1 {
    color: #022534 !important
}