html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Chivo', sans-serif;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.events {
    display: flex;
    flex-direction: row;
}

.bg-image {
    background: image_path("18971.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-fixed-top.scrolled {
    background-color: #094f6e;
    transition: background-color 200ms linear;
}

.jumbotron {
    background: transparent;
}

.brand {
    font-family: 'Playfair Display', serif;
}

.brand-motto {
    font-family: 'Playfair Display', serif;
}

.no-events {
    margin-bottom: 100px;
}